@font-face {
	font-family:Arial;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Arial-BoldMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:italic;
	font-weight:normal;
	src : url("../font/Arial-ItalicMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:oblique;
	font-weight:normal;
	src : url("../font/Arial-ItalicMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	src : url("../font/ArialMT.ttf");
}
@font-face {
	font-family:"Lucida Grande";
	font-style:normal;
	font-weight:500;
	src : url("../font/LucidaGrande.ttc");
}
@font-face {
	font-family:"Lucida Grande";
	font-style:normal;
	font-weight:600;
	src : url("../font/LucidaGrande-Bold.ttc");
}
@font-face {
	font-family:"Lucida Sans";
	font-style:normal;
	font-weight:normal;
	src : url("../font/LucidaSans.ttf");
}
@font-face {
	font-family:"Lucida Sans";
	font-style:normal;
	font-weight:600;
	src : url("../font/LucidaSans-Demi.ttf");
}
@font-face {
	font-family:"Lucida Sans";
	font-style:italic;
	font-weight:normal;
	src : url("../font/LucidaSans-Italic.ttf");
}
@font-face {
	font-family:"Lucida Sans";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/LucidaSans-Italic.ttf");
}
@font-face {
	font-family:Palatino;
	font-style:italic;
	font-weight:normal;
	src : url("../font/Palatino-Italic.ttc");
}
@font-face {
	font-family:Palatino;
	font-style:oblique;
	font-weight:normal;
	src : url("../font/Palatino-Italic.ttc");
}
@font-face {
	font-family:"Zapf Dingbats";
	font-style:normal;
	font-weight:normal;
	src : url("../font/ZapfDingbatsITC.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
span._idFootAndEndNoteAnchor {
	color:blue !important;
	text-decoration:underline;
}
div.Pullout--2-lines- {
	border-style:solid;
}
div.Pullout--3-lines- {
	border-style:solid;
}
div.Pullout--3-lines--BTW-Paras {
	border-style:solid;
}
div.Pullout--4-or-2-lines--BTW-Paras {
	border-style:solid;
}
section.Basic-Text-Frame, div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:168px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-10 {
	color:#000000;
	font-family:Palatino, serif;
	font-size:180px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#b2b2b2;
	font-family:"Lucida Grande", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-12 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:200px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:116.6px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-16 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"Lucida Sans", sans-serif;
	font-size:160px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-18 {
	color:#000000;
	font-family:"Lucida Sans", sans-serif;
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	color:#000000;
	font-family:"Lucida Sans", sans-serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#000000;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:540px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:180px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-22 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:180px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-23 {
	color:#000000;
	font-family:"Lucida Grande", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:500;
}
#_idContainer000 {
	-webkit-transform:translate(42.500px,259.056px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:185.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,259.056px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer001 {
	-webkit-transform:translate(42.500px,68.627px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:193.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,68.627px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer002 {
	-webkit-transform:translate(42.500px,518.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,518.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer003, #_idContainer004, #_idContainer014, #_idContainer022, #_idContainer029, #_idContainer036, #_idContainer044, #_idContainer052, #_idContainer058, #_idContainer066, #_idContainer074, #_idContainer081, #_idContainer088, #_idContainer096 {
	-webkit-transform:translate(42.500px,36.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:513.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,36.994px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.51px;
}
#_idContainer005 {
	-webkit-transform:translate(42.500px,522.942px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,522.942px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer006 {
	-webkit-transform:translate(42.500px,414.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,414.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer007 {
	-webkit-transform:translate(42.500px,306.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,306.610px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer008 {
	-webkit-transform:translate(42.500px,34.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:188.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,34.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer009, #_idContainer017, #_idContainer024, #_idContainer031, #_idContainer039, #_idContainer047, #_idContainer054, #_idContainer061, #_idContainer069, #_idContainer076, #_idContainer083, #_idContainer091, #_idContainer099 {
	-webkit-transform:translate(42.522px,554.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,554.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer010, #_idContainer018, #_idContainer025, #_idContainer032, #_idContainer040, #_idContainer048, #_idContainer055, #_idContainer062, #_idContainer070, #_idContainer077, #_idContainer084, #_idContainer092, #_idContainer100 {
	-webkit-transform:translate(42.522px,41.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,41.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.53px;
}
#_idContainer011 {
	-webkit-transform:translate(42.522px,235.521px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:157.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,235.521px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer012 {
	-webkit-transform:translate(42.500px,12.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:538.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,12.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer013, #_idContainer021, #_idContainer028, #_idContainer035, #_idContainer043, #_idContainer051, #_idContainer057, #_idContainer065, #_idContainer073, #_idContainer080, #_idContainer087, #_idContainer095, #_idContainer104 {
	-webkit-transform:translate(42.349px,554.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.349px,554.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:335.05px;
}
#_idContainer015 {
	-webkit-transform:translate(42.500px,38.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:512.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,38.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.51px;
}
#_idContainer016 {
	-webkit-transform:translate(10.346px,375.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(10.346px,375.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:131.24px;
}
#_idContainer019 {
	-webkit-transform:translate(42.522px,13.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:537.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,13.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.53px;
}
#_idContainer020 {
	-webkit-transform:translate(266.031px,368.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(266.031px,368.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer023, #_idContainer026, #_idContainer030, #_idContainer034, #_idContainer045, #_idContainer050, #_idContainer053, #_idContainer059, #_idContainer063, #_idContainer075, #_idContainer082, #_idContainer090 {
	-webkit-transform:translate(42.500px,38.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:512.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,38.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer027 {
	-webkit-transform:translate(272.834px,312.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(272.834px,312.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer033 {
	-webkit-transform:translate(42.477px,240.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.477px,240.057px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer037 {
	-webkit-transform:translate(42.500px,360.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:116.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,360.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer038, #_idContainer078 {
	-webkit-transform:translate(42.500px,13.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:537.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,13.726px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer041 {
	-webkit-transform:translate(42.477px,240.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:165.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.477px,240.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer042, #_idContainer067, #_idContainer071 {
	-webkit-transform:translate(42.500px,36.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:514.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,36.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer046 {
	-webkit-transform:translate(16.299px,411.068px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.299px,411.068px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer049 {
	-webkit-transform:translate(42.477px,188.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.477px,188.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer056 {
	-webkit-transform:translate(42.500px,8.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:542.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,8.867px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer060 {
	-webkit-transform:translate(0.708px,283.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.708px,283.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer064 {
	-webkit-transform:translate(266.456px,360.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(266.456px,360.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer068 {
	-webkit-transform:translate(14.740px,196.331px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.740px,196.331px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer072 {
	-webkit-transform:translate(274.488px,377.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(274.488px,377.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:128.03px;
}
#_idContainer079 {
	-webkit-transform:translate(273.543px,316.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(273.543px,316.804px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.15px;
}
#_idContainer085 {
	-webkit-transform:translate(42.477px,51.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:481.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.477px,51.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer086 {
	-webkit-transform:translate(42.500px,35.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:501.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,35.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer089 {
	-webkit-transform:translate(42.500px,28.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:352.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,28.025px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer093, #_idContainer097 {
	-webkit-transform:translate(42.500px,41.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,41.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer094 {
	-webkit-transform:translate(42.522px,34.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:516.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,34.328px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.53px;
}
#_idContainer098 {
	-webkit-transform:translate(42.500px,39.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:511.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,39.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.55px;
}
#_idContainer101, #_idContainer106 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:335.24px;
}
#_idContainer102 {
	-webkit-transform:translate(3.809px,1.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.809px,1.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:77.82px;
}
#_idContainer103 {
	-webkit-transform:translate(42.522px,42.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.522px,42.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:335.24px;
}
#_idContainer105 {
	-webkit-transform:translate(42.500px,41.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,41.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.51px;
}
#_idContainer107 {
	-webkit-transform:translate(3.809px,0.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.809px,0.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:77.82px;
}
#_idContainer108 {
	-webkit-transform:translate(42.135px,42.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.135px,42.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:335.24px;
}
#_idContainer109 {
	-webkit-transform:translate(42.500px,41.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,41.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:334.53px;
}
#_idContainer111 {
	-webkit-transform:translate(0.000px,3926.748px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,3926.748px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:280.40px;
}
#_idContainer110 {
	-webkit-transform:translate(0.000px,2301.748px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2301.748px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:280.40px;
}
#_idContainer112 {
	-webkit-transform:translate(42.500px,38.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:494.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.500px,38.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:283.50px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
